matplotlib==3.5.2
numpy==1.21.5
pytest==7.1.2
pycodestyle==2.8.0
tqdm==4.64.0
scipy==1.8.0
scikit-learn==1.1.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1
torchvision==0.15.2
